{% load _filter %}
{% load sidebar_querysets %}
{% load cache %}
{% sidebar_querysets as qs %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
    id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center"
     href="{% url 'task_list' %}">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Планировщик задач</div>
  </a>
  <hr class="sidebar-divider my-0">
  <li class="nav-item active">
    <a class="nav-link" href="{% url "task_list" %}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span style="font-size: 18px;">Список задач</span></a>
  </li>
  <hr class="sidebar-divider">
  <li class="nav-item">
    <a class="nav-link" href="{% url "create_task" %}">Создать задачу</a>
  </li>
  {% for task in qs.tasks %}
    <li class="nav-item">
      <a class="nav-link" href="#"
         data-toggle="collapse"
         data-target="#collapse{{ forloop.counter }}"
         aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
        <i class="fas fa-fw fa-cog"></i>
        <span>{{ task.name }}</span>
      </a>
      <div id="collapse{{ forloop.counter }}" class="collapse"
           aria-labelledby="headingTwo"
           data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" id="task-id-{{ forloop.counter }}" href="{% url 'task_detail' task.id %}">Детали
            задачи</a>
          <h6 class="collapse-header">Поздадачи</h6>
          {% with qs.subtasks|_filter:task as related_subtasks %}
            {% if related_subtasks %}
              {% for subtask in related_subtasks %}
                <a class="collapse-item" id="subtask-id-{{ forloop.counter }}"
                   href="{% url 'subtask_detail' task.id subtask.id %}">{{ subtask.name|truncatechars:25 }}</a>
              {% endfor %}
            {% else %}
              <div class="collapse-item">Подзадач нет</div>
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>